Testing2/WebContent/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://promilatest.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://promilatest.com" xmlns:intf="http://promilatest.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://promilatest.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="subtractValue">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractValueResponse">
    <complexType>
     <sequence>
      <element name="subtractValueReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="addValue">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="addValueResponse">
    <complexType>
     <sequence>
      <element name="addValueReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="callBD">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="callBDResponse">
    <complexType>
     <sequence>
      <element name="callBDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addValueRequest">

      <wsdl:part element="impl:addValue" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="subtractValueResponse">

      <wsdl:part element="impl:subtractValueResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addValueResponse">

      <wsdl:part element="impl:addValueResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="callBDRequest">

      <wsdl:part element="impl:callBD" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="callBDResponse">

      <wsdl:part element="impl:callBDResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="subtractValueRequest">

      <wsdl:part element="impl:subtractValue" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest"/>

         <wsdl:output message="impl:mainResponse" name="mainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="subtractValue">

         <wsdl:input message="impl:subtractValueRequest" name="subtractValueRequest"/>

         <wsdl:output message="impl:subtractValueResponse" name="subtractValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addValue">

         <wsdl:input message="impl:addValueRequest" name="addValueRequest"/>

         <wsdl:output message="impl:addValueResponse" name="addValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="callBD">

         <wsdl:input message="impl:callBDRequest" name="callBDRequest"/>

         <wsdl:output message="impl:callBDResponse" name="callBDResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtractValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="callBD">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callBDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="callBDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080/Testing2/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
